*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: var(--accent);
    text-decoration: none;
}

a:hover{
    color: var(--secondary-action);
}

body{
    background-image: url("https://columbuszoo.org/Media/images/default-source/default-album/zooentrance-grahms-jonescolumbuszooandaquarium(1)4c6ad232bd2f67d7bdc2ff0000bf4b43.jpg?sfvrsn=e45b5a6_0");
    background-size: cover;
}

html {
    --accent: #B9D989;
    --dark: #372D21;
    --light: #F9F8F5;
    --primary-action: #F47048;    
    --secondary-action: #5DB2C3; 
    font: 20px/1;   
}

form.search-form input[type=text] {
    padding: 6px;
    font-size: 12px;
    border: 1px;;
    float: left;
    width: 80%;
    background: var(--light);
  }
  
  form.search-form button {
    background-image: url("../images/searchicon.jpg");
    float: left;
    width: 20%;
    padding: 6px;
    background: var(--secondary-action);
    color: white;
    font-size: 12px;
    border: 1px;
    cursor: pointer;
  }
  
  form.search-form button:hover {
    background: var(--primary-action);
  }
  
  form.search-form::after {
    content: "";
    clear: both;
    display: table;
  }

.header-main{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "properties home tickets" "nav nav nav";
}

.header-main__donatebutton{
    padding: 8px;
    margin: 20px;
    background-color: var(--secondary-action);
}

.header-main__properties{
    grid-area: properties;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    font-size: .8rem;
}

.header-main__ticketsbutton{
    padding: 8px;
    margin: 20px;
    background-color: var(--primary-action);
}

.header-main__tickets{
    grid-area: tickets;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.header-main__navigation{
    grid-area: nav;
    grid-column: span 3;
    font-size: 2rem;
}

.header-main__properties-item{
    padding: 3px;
    display: flex;
    justify-content: center;
}

.header-main__zoo-home{
    grid-area: home;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-icon {
    max-height: 80px;
    max-width: 80px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-button{
    background-image: url("../images/searchicon.jpg");
    height: 100%;
}
